section.py-5.bg-light#2

    .container.px-5.my-5

        .row.justify-content-center

            .col-lg-12

                .text.my-5

                    h2.display-5.text-black.mb-5.text-uppercase Columns with icons

        .row.gx-5

            .col-lg-12

                .row.gx-5.row-cols-1.row-cols-md-2

                    .col.mb-5.h-100

                        .feature.bg-dark.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-magic

                        h3.h5 Featured title
                        p.mb-0
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

                    .col.mb-5.h-100

                        .feature.bg-dark.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-cart    

                        h3.h5 Featured title
                        p.mb-0
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

                    .col.mb-5.h-100

                        .feature.bg-dark.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-hdd-rack-fill

                        h3.h5 Featured title
                        p.mb-0
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

                    .col.mb-5.h-100

                        .feature.bg-dark.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-android2

                        h3.h5 Featured title
                        p.mb-0
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

                    .col.mb-5.h-100

                        .feature.bg-dark.bg-gradient.text-white.rounded-3.mb-3
                            i.bi-heart-pulse

                        h3.h5 Featured title
                        p.mb-0
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

                    .col.mb-5.h-100

                        .feature.bg-dark.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-bar-chart

                        h3.h5 Featured title
                        p.mb-0
                            | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
