section.py-5.bg-light#2

    .container.px-5

        .row.justify-content-center

            .col-lg-12

                .text.my-5

                    h2.display-6.pb-2.border-bottom Hanging icons

        .row.g-4.py-5.row-cols-1.row-cols-lg-3

            .col.d-flex.align-items-start
                .icon-square.text-bg-light.d-inline-flex.align-items-center.justify-content-center.fs-4.flex-shrink-0.me-3
                    i.bi-heart-pulse
                div
                    h3.display-6.fs-2 Featured title
                    p
                        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                    a.btn.btn-dark(href='#') Dark button

            .col.d-flex.align-items-start
                .icon-square.text-bg-light.d-inline-flex.align-items-center.justify-content-center.fs-4.flex-shrink-0.me-3
                    i.bi-heart-pulse
                div
                    h3.display-6.fs-2 Featured title
                    p
                        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                    a.btn.btn-dark(href='#') Dark button

            .col.d-flex.align-items-start
                .icon-square.text-bg-light.d-inline-flex.align-items-center.justify-content-center.fs-4.flex-shrink-0.me-3
                    i.bi-heart-pulse
                div
                    h3.display-6.fs-2 Featured title
                    p
                        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
                    a.btn.btn-dark(href='#') Dark button
