section.py-5#top

    .container.px-5

        .row.justify-content-center

            .col-lg-12

                .text.my-5

                    h1.display-5.text-black.mb-2.text-uppercase Bootstrap 5 Pug Template
                    p.lead.mb-4
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        | At vero eos et accusam et justo duo dolores et ea rebum.

        .row.justify-content-center

            .col-lg-6

                .text.my-5

                    h2.display-5.text-black.mb-2.text-uppercase Headline
                    p.lead.mb-4
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        | At vero eos et accusam et justo duo dolores et ea rebum.

            .col-lg-6

                .text.my-5

                    .card.justify-content-center
                        .card-body
                            h2.display-5.text-black.mb-2 Call to Action?
                            p.lead.mb-4
                                | At vero eos et accusam et justo duo dolores et ea rebum!
                            form#fdownload(action='/media/docs/caupo-net-projekt-planer-de-0-5.zip' method='get')
                                button.btn.btn-dark(type='submit' value='Get Started') Download Zip

        .row.justify-content-center

            .col-lg-12

                .text.my-5

                    h2.display-5.text-black.mb-2.text-uppercase Headline
                    p.lead.mb-4
                        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        | At vero eos et accusam et justo duo dolores et ea rebum.
