section.py-5#top

    .container.px-5

        .row.justify-content-center

            .col-lg-12

                .text.my-5

                    h1.display-5.text-black.mb-2.text-uppercase Bootstrap 5 Pug Template
                    p.lead.mb-4
                        | B5PT is a multipurpose, responsive, website template for Bootstrap created by Frank Kirgis.<br>
                        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

        .row.justify-content-center

            .col-lg-6

                .text.my-5

                    h2.display-5.text-black.mb-2.text-uppercase Headline
                    p.lead.mb-4
                        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.

            .col-lg-6

                .text.my-5

                    .card.justify-content-center
                        .card-body
                            h2.display-5.text-black.mb-2 Call to Action?
                            p.lead.mb-4
                                | We'll add onto it with another sentence!
                            form#fdownload(action='/media/docs/caupo-net-projekt-planer-de-0-5.zip' method='get')
                                button.btn.btn-dark(type='submit' value='Get Started') Download Zip

        .row.justify-content-center

            .col-lg-12

                .text.my-5

                    h2.display-5.text-black.mb-2.text-uppercase Headline
                    p.lead.mb-4
                        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
