footer.py-4.mt-auto.bg-dark

    .container.py-5

        .row

            .col-6.col-md-3.mb-3
                ul.nav.flex-column
                    li.nav-item.mb-2.text-white <i class="bi bi-phone"></i> +00 (0) 0000 - 00 00 100

            .col-6.col-md-3.mb-3
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/#contact') Contact

            .col-6.col-md-3.mb-3
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/imprint/') Imprint

            .col-6.col-md-3.mb-3
                ul.nav.flex-column
                    li.nav-item.mb-2
                        a.nav-link.p-0.text-white(href='/privacy-policy/') Privacy policy

        .d-flex.flex-column.flex-sm-row.justify-content-between.py-4.my-4.border-top
            p.text-white © 2022 - 2023 <a class="link-light" href="https://www.e-commerce-manager.eu/">Frank Kirgis</a>
            ul.list-unstyled.d-flex
                li.ms-3
                    a.link-light(href='https://github.com/frank-kirgis/' target='_blank' rel='noopener')
                        i.bi-github(style='font-size: 2rem; color: white;')