- var locale = "en_EN";
- var title = "Bootstrap 5 Pug Template";
- var description = "B5PT is a multipurpose, responsive, website template for Bootstrap created by Frank Kirgis.";
- var author = "Frank Kirgis";
- var url = "https://b5pt.e-commerce-manager.eu/";

- var organization_name = "Organization";
- var organization_url = "https://www.example.com/";
- var organization_logo = "https://www.example.com/media/logos/caupo-logo-384x384.png";

- var image = "https://b5pt.e-commerce-manager.eu/media/profile/avatar-male.jpg";
- var image_width = "150";
- var image_height = "150";
- var image_copyright = "Frank Kirgis";

- var twitter_creator = "@Frank_Kirgis";
- var twitter_card = "summary_large_image";

doctype html
html(lang='en')

    head
        include includes/head/meta.pug
        include includes/head/link.pug
        include includes/head/css.pug
        include includes/head/favicons.pug
        // include includes/head/startpage-social.pug
    
    body.d-flex.flex-column.h-100

        header
            include includes/navbar/navbar-main.pug

        main
            include includes/startpage/section-top.pug
            include includes/startpage/section-features-01.pug
            include includes/startpage/section-features-02.pug

        include includes/footer/footer.pug
        include includes/scripts.pug